<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<div class="container">
  <body>
    <%- include('header.ejs') %>

    <div class="all_products">
    <% for (let i = 0; i < product.length; i++) { %>
        <div class="simpleCart_shelfItem">
            <a href='./store/<%= product[i].id %>'><img src="<%= product[i].img %>" class="item_thumb"/></a>
                <h5 class="productname"><a href='./store/<%= product[i].id %>'><%= product[i].name %></a></h5>
                <div class="simpleStore_getDetail_price">
                    <span class="productprice">Price: $<%= product[i].price %></span>
                </div>
                <div class="simpleStore_getDetail_button">
                    <a href='./store/<%= product[i].id %>' class="button">Details</a>
                </div>

        </div>

    <%  } %>
  </div>


        <a href="./reset"> Travel back in time </a>
        <p><span class='bumpersticker'>THE POPULATION BOMB IS EVERYONES BABY</span></p>
</div>
<!-- Yellow text black background -->
<!-- DO YOUR THING!
(Bet not on me!) //purple background black text-->
<!-- DO YOUR THING!
(Bet not on me!) //yellow background black text-->
<%- include('footer.ejs') %>
</div>
</body>
</html>
